header {
	background:  rgb(44,40,51);
}

/* FORMATAÇÃO DE BARRA DE NAVEGAÇÃO */

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #daa520;
}


/* FORMATAÇÃO DO RODAPÉ */
footer p a {
	margin: 5px 15px;
}

/* LAYOUT */

body {
	background: rgb(15,0,26,0.8);
	color: white;
}

