header {
	background:  rgb(44,40,51);
}

/* FORMATAÇÃO DE BARRA DE NAVEGAÇÃO */

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #daa520;
}

/* SECTIONS */

#home {
  width: 100%;
  margin: auto;
}

#welcome {
  width: 72%;
  margin: auto;
}



/* FORMATAÇÃO DO RODAPÉ */
footer p a {
	margin: 5px 15px;
}



/* LAYOUT */

/*
html, body, #home, #servicos, #sobre, #contatos {
	height: 100%;
	overflow-x: hidden;
}
*/

body {
	background: rgb(15,0,26,0.8);
	color: white;
}
/* Capa */

.capa {
	text-align: center;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}

#welcome .bemvindo{
  text-align: center;
  margin-top: 10px;
}


/* RESPONSIVIDADE */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}



/*
    <section id="servicos"><!-- Serviços-->
      <div class="container">
        <div class="row">

          <div class="col-md-6 d-flex" style="background-image: url(imagens/welcome12.png); background-repeat: no-repeat;background-size: 300px; background-position: center center;"> <!-- textos da seção-->
            <div class="align-self-center" >
              <h1 class="display-4">Welcome to CROWN Dental Compliance</h1>
              <p>
                Crown Dental Is a specialist consultancy business designed to support dental practices to implement and maintain a maximum standard of care consistent with CQC regulations and GDC guidelines. <br>
                We ensure all your processes and procedures are managed efficiently to provide safe, effective, responsive, caring and well-led.
              </p>
            </div>
          </div><!-- fim do texto da seção-->
          
         <div class="col-md-6 d-none d-md-block">
            <img src="imagens/welcome3.png" style="width: 500px; margin: 0px 50px 0px 0px;">
          </div>

        </div>
        
      </div>
    </section><!-- /Serviços-->
    
    <section id="sobre" class="caixa"><!-- Sobre nós-->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Saiba para onde vai seu dinheiro</h2>
              <p>
                Com o Finans, você categoriza todos os seus lançamentos.
                Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="imagens/saiba.png" class="img-fluid">
          </div>
          
        </div>
      </div>
    </section><!-- /Sobre nós-->

    <section id="contatos" class="caixa"><!-- Contatos-->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="imagens/juros.png" class="img-fluid">
          </div>
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Pare de paga juros e economize</h2>
              <p>
                Manter as contas em dia é sempre um problema? O Finans
                avisa você: receba alertar de contas a pagar e a receber!
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>          
        </div>
      </div>
    </section><!-- /Contatos-->

    <section class="caixa"><!--Inicio da secao recursos-->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="imagens/facil.png" class="img-fluid">
            <h4>Fácil de usar</h4>
            <p>
              O Finans vai além do básico e permite que você faça controles
              incríveis, essenciais para suas finaças. Simples como tem que ser!
            </p>
          </div>
          <div class="col-md-4">
            <img src="imagens/economize.png" class="img-fluid">
            <h4>Economize seu tempo</h4>
            <p>
              Tempo é dinheiro! Em segundos, você tem tudo sob controle e 
              aproveite seu tempo com o que realmente impota pra você!
            </p>
          </div>
          <div class="col-md-4">
            <img src="imagens/suporte.png" class="img-fluid">
            <h4>Suporte amigo</h4>
            <p>
              Dúvidas? Perguntas? Nosso suporte super legal ajuda você!
              A gente tá aqui pra resolver seus problemas e deixar sua vida bem mais fácil!
            </p>
          </div>
        </div>
      </div>
    </section><!--Fim da secao recursos-->
*/