header {
	background:  rgb(44,40,51);
}

.container-fluid {
  padding: 0px; 
}

.container {
  padding: 0px; 
}

/* FORMATAÇÃO DE BARRA DE NAVEGAÇÃO */

.caixa {
	padding: 0px 0;
	border-bottom: 1px solid #e5e5e5;
}



.navbar-light .navbar-nav {
  color: white;
  border: 1px solid yellow;
  margin-right: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #daa520;
}

/* SECTIONS */

#home, #welcome, #sobre {
  width: 100%;
}


/* FORMATAÇÃO DO RODAPÉ */
footer p a {
	margin: 5px 15px;
}

footer div .rodape {
  width: 1050px;
  margin: auto;
}

/* LAYOUT */


body, #home, #welcome, #sobre, #servicos, #contatos {
  height: 100%;
	overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


body {
	background: rgb(34,10,41);
	
}
/* Capa */

.capa {
	text-align: center;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}

#welcome {
  background-color: rgb(230, 230, 230);
}

#welcome p {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  text-align: justify;
}

#welcome h1 {
  text-align: center;
  margin-top: 10px;
}

#welcome h5 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

#welcome h6 {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  color: red;
}

#welcome .textoWelcome {
  margin: auto;
  color: black;
}

#servicos h2 {
  margin: auto;
}

/* RESPONSIVIDADE */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* LG devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XLG devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) {

}

/* XXLG devices (large desktops, 1600px and up)*/
@media (min-width: 1600px){
  #home {
    width: 1600px;
    height: 820px;
    margin: auto;
  }
  header {
   width: 100%;
   margin: auto;
  }

	.areaNavegacao {
    width: 1600px;
    border: 1px solid rgb(113, 51, 212);
    margin: auto;
  }
  
  .logoNav {
    width: 300px;
    margin-left: 30px;
    border: 1px solid red; 
    
  }

  .navbar-light .navbar-nav {
    color: white;
    border: 1px solid yellow;
    margin-right: 30px;
    font-size: large;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: white;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
      color: #daa520;
  }
  
  #carousel-controles {
    width: 1590px;
    height: 818px;
    border: 1px solid rgb(211, 48, 102); 
    margin: auto;
  }

  #carousel-controles .carousel-item {
    width: 1595px;
    height: 817px; 
  }

  #carousel-controles .carousel-indicators {
    border: 1px solid rgb(0, 255, 55); 
    margin-bottom: 50px;
  }

  .areaSlide {
    border: 1px solid rgb(143, 7, 113);
    margin: auto;
  }

  #welcome h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}


